<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--S: 右边的小框-->
    <aside class="layout-aside" th:fragment="aside">
        <div class="layout">
            <div class="rect">
                <span class="info-box-icon bg-aqua rect-i rect-f"><i class="fa fa-fw fa-desktop rectI"></i></span>
                <div class="title">
                    <div class="tit">桌面在线客服</div>
                    <div class="subtitle">及时应答客户在线咨询</div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="rect">
                <span class="info-box-icon bg-aqua rect-i rect-s"><i class="fa fa-fw fa-mobile-phone rectI"></i></span>
                <div class="title">
                    <div class="tit">零售移动客户端</div>
                    <div class="subtitle">使用手机管理店铺</div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="rect">
                <span class="info-box-icon bg-aqua rect-i rect-t"><i class="fa fa-fw fa-phone rectI"></i></span>
                <div class="title">
                    <div class="tit">壹送电话客服</div>
                    <div class="subtitle phone">0737 - 8111118</div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="tit-help">帮助中心 <a class="more" href="#">更多</a> </div>
            <div class="item">如何使用微信客户端管理店铺？</div>
            <div class="item">如何使用微信客户端管理店铺？</div>
            <div class="item">如何使用微信客户端管理店铺？</div>
            <div class="item">如何使用微信客户端管理店铺？</div>
            <div class="item">如何使用微信客户端管理店铺？</div>
            <div class="item">如何使用微信客户端管理店铺？</div>
            <div class="item">如何使用微信客户端管理店铺？</div>
        </div>
    </aside>
    <!--E: 右边的小框-->
</html>